<div style="margin-top: -30px; margin-bottom: -30px; padding-left: 10px; width: auto;" align="left">
  <div id="allmsgs" class="commentArea" style="width: 250px; height: 100px; overflow: auto; pointer-events: auto;">
  </div>
  <form action="#" onsubmit="return sendChatMessage(this);" style="pointer-events: auto;
  width: 154%;
  height: 100%;
  position: fixed;
  top: calc(100% - 49px);
  left: 10px;" >
  <input class="btn-info" type="text" style="width: 38%; height: 35px; cursor: default;" autocomplete="off" style="pointer-events: auto;" id="msg" maxlength="256"/>
  <input class="btn-info"  type="submit" style="width: 10%; height: 35px; cursor: default;" style="pointer-events: auto;" value="Submit"/>
</form>
<form id="fullscreen" action="#" onsubmit="return updateFullscreen(!fullscreen);" style="pointer-events: auto;
width: 154%;
height: 100%;
position: fixed;
top: calc(100% - 49px);
left: calc(82%);
" >
<input class="btn-primary" type="submit" style="width: 10%; height: 35px; cursor: default; pointer-events: auto;" value="Toggle view"/>
</form>
<div id="profile" style="
width: 32%;
height: calc(100% - 65px);
position: fixed;
top: calc(10px);
left: calc(67%);
background-color: #aaffff; pointer-events: auto;">
<div id="userprofpic" class="profpic" style="position:fixed; top: 20px; left: calc(67% + 10px); width: 56px; height: 56px; background-size: 56px 56px;"></div>
<div style="width: calc(100%); height: 80px; background-color: red; position: absolute;" onclick="setUser('null'); openPage('profile');" class="selprofile"></div>
<p id="fullname" style="margin-left: 75px; margin-top: 22px; line-height: 3px;">name</p>
<p id="status" style="margin-left: 75px; pointer-events: auto;">status</p>
<p style="margin-left: 10px; margin-top: 27px;">Friends: </p>

<div id="myfriends" style="overflow: auto; pointer-events: auto; height: calc(100% - 115px);"></div>
</div>
<script>
  $("#allmsgs").height($(window).height()-70);

  $(window).bind('resize', resizeUpdate);

  function updateProfilePics() {
    $("div.profpic").each(function(i, obj) {
      obj.style.backgroundImage = "url('" + webserver + "cloud/" + obj.getAttribute("username") + "/profile.png?time=" + new Date() / 1000 + "')";
    });
  }

  function resizeUpdate() {
    if (!loggedIn) {
      $(window).unbind('resize', resizeUpdate);
      return;
    }
    $("#allmsgs").height($(window).height()-70);
  }

  fullscreen = true;
  updateFullscreen(false);
  function updateFullscreen(fulls){
    fullscreen = fulls;
    if(fullscreen){
      $("#profile").hide();
      $("#allmsgs").width("98%");
      $("#msg").width("38%");
    } else {
      $("#profile").show();
      $("#allmsgs").width("65%");
      $("#msg").width("27%");
    }
    return false;
  }

  function setProfile(name, status) {
    if (!name || !status) {
      return;
    }
    name = name.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    status = status.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    $("#fullname").text(name);
    realstat = status;
    if (realstat.length > 32) {
      realstat = status.substring(0, 32) + "...";
    }
    $("#status").html("<div title=\"" + status + "\">"+realstat+"</div>");
    $("#userprofpic").attr("username", name);
    updateProfilePics();
  }
  
  var friendid;
  function addFriend(text) {
    if(!friendid)friendid=0;
    $("#myfriends").append("\
      <div class=\"friend\" style=\"width:96%; height: 40px; margin-left: 5px; pointer-events: auto;\" onclick=\"setUser($('#friendno" + friendid + "').text());\">\
        <div username=\"" + text + "\" class=\"profpic\" style=\"pointer-events: none; margin-top: 3px; float: left; width: 32px; height: 32px; background-size: 32px 32px;\"></div>\
        <span id=\"friendno" + friendid + "\" style=\"margin-left: 10px;\">" + text + "</span>\
      </div>");
    friendid++;
  }

  function clearFriends() {
    $("div.friend").remove();
  }

  function addLeft(text) {
    text = text.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    $("#allmsgs").append("<div class=\"bubbledLeft\">" + text + "</div>");
  }

  function addRight(text) {
    text = text.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    $("#allmsgs").append("<div class=\"bubbledRight\">" + text + "</div>");
  }

  function addTopLeft(text) {
    text = text.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    $("#allmsgs").append("<div class=\"bubbledTopLeft\">" + text + "</div>");
  }

  function addTopRight(text) {
    text = text.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    $("#allmsgs").append("<div class=\"bubbledTopRight\">" + text + "</div>");
  }
  function addCenter(text){
    text = text.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    $("#allmsgs").append("<div style=\"font-size: 15px; height: 30px\" align=\"center\">" + text + "</div>");
  }
  function clearMessages(){
    $("#allmsgs").text("");
  }
</script>
</div>
