<div id="login" class="container">
  <form class="form-signin" onsubmit="return handleLogin(this);">
    <h2 class="form-signin-heading">Sign in</h2><br/>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" style="pointer-events: auto;" id="inputUsername" class="form-control" placeholder="Username" autocomplete="off" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" style="pointer-events: auto;" id="inputPassword" class="form-control" placeholder="Password" autocomplete="off" required>
    <div class="checkbox">
      <label>
        <input id="remember" type="checkbox" style="pointer-events: auto;" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" style="pointer-events: auto; cursor: default;" type="submit">Sign in</button>
  </form>
  <a onclick="setPage(true);">Don't have an account? Register!</a>
</div>
<div id="register" class="container">
  <form class="form-signin" onsubmit="return handleRegister(this);">
    <h2 class="form-signin-heading">Register</h2><br/>

    <label for="inputPassword" class="sr-only">Email</label>
    <input type="text" style="pointer-events: auto;" id="inputRegEmail" class="form-control" placeholder="Email" autocomplete="off" required autofocus>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" style="pointer-events: auto;" id="inputRegUsername" class="form-control" placeholder="Username" autocomplete="off" required >

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" style="pointer-events: auto;" id="inputRegPassword" class="form-control" placeholder="Password" autocomplete="off" required>

    <br/>
    <button class="btn btn-lg btn-primary btn-block" style="pointer-events: auto; cursor: default;" type="submit">Register</button>
  </form>
  <a onclick="setPage(false);">Have an account? Login!</a>
</div>

<script>
  setPage(false);

  function setPage(register) {
    if (register) {
      $("#login").hide();
      $("#register").show();
    } else {
      $("#login").show();
      $("#register").hide();
    }
  }
</script>
</div>