<div style="margin-top: -30px; margin-bottom: -30px; padding-left: 10px; width: auto;" align="left">
  <div id="profile" style="
  width: 32%;
  height: calc(100% - 20px);
  position: fixed;
  top: calc(10px);
  left: 15px;
  background-color: #aaffff;">

  <!-- <img style="position:fixed; top: 20px; left: 25px;" src='notext.png' width="56"/> -->

  <div id="userprofpic" class="profpic" style="position:fixed; top: 20px; left: 25px; width: 56px; height: 56px; background-size: 56px 56px;"></div>
  <div style="top: 10px; left: -30px; width: 56px; height: 56px; position: absolute; pointer-events: auto;" class="profilepic" onclick="$('#uploadModal').modal('show');"></div>
  <p id="fullname" style="margin-left: 75px; margin-top: 22px; line-height: 3px;">name</p>
  <p id="status" style="margin-left: 75px; pointer-events: auto;">status</p>
  <p style="margin-left: 10px; margin-top: 27px;">Friends: </p>
  <div id="myfriends" style="overflow: auto; pointer-events: auto; height: calc(100% - 115px);"></div>
</div>
<div id="requests" style="overflow: auto; background-color: lightcyan;
top: 50px;
height: calc(215px);
width: 62%;
position: absolute;
left: calc(15px + 32% + 10px);
">
</div>
<button id="refreshButton" style="position: absolute; top: 10px; left: calc(32% + 25px); width: 210px;" data-loading-text="Loading..." type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh friend requests
</button>
<button id="cloudButton" style="position: absolute; top: 10px; left: calc(32% + 30px + 210px); width: 180px;" onclick="openCloud();" type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Open cloud folder
</button>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a profile picture</h4>
      </div>
      <form id="uploadbanner" enctype="multipart/form-data" method="post">
        <div class="modal-body">
          <input style="pointer-events: auto;" id="fileupload" name="myfile" type="file" />
        </div>
        <div class="modal-footer">
          <button type="button" style="pointer-events: auto;" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" style="pointer-events: auto;" value="submit" id="submit" class="btn btn-primary">Upload file</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="requestModalLabel"></h4>
      </div>
      <div class="modal-body">
        <button type="submit" style="pointer-events: auto;" value="submit" id="acceptRequest" class="btn btn-primary">Accept friend request</button>
        <button type="submit" style="pointer-events: auto;" value="submit" id="denyRequest" class="btn btn-danger">Deny friend request</button>
      </div>
      <div class="modal-footer">
        <button type="button" style="pointer-events: auto;" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<script>

  function updateProfilePics() {
    $("div.profpic").each(function(i, obj) {
      obj.style.backgroundImage = "url('" + webserver + "cloud/" + obj.getAttribute("username") + "/profile.png?time=" + new Date() / 1000 + "')";
    });
  }

  $('#refreshButton').on('click', function () {
    var $btn = $(this).button('loading');
    getServerUserSession();
  })
  document.getElementById("uploadbanner").onsubmit = function(event) {
    event.preventDefault();
    $("#uploadModal").modal("hide");
    uploadProfilePicture($("#fileupload").val());
  }

  function openRequestWindow(username) {
    $("#requestModal").modal("show");
    $("#requestModalLabel").text(username + " wants to be your friend!");
    $("#denyRequest").off();
    $("#denyRequest").click(function() {
      removeFriend(username);
    });
    $("#acceptRequest").off();
    $("#acceptRequest").click(function() {
      confirmFriendRequest(username);
    });
  }

  function setProfile(name, status) {
    if (!name || !status) {
      return;
    }
    name = name.replace(/>/g, '&gt;').replace(/</g, '&lt;');
    status = status.replace(/>/g, '&gt;').replace(/</g, '&lt;');

    $("#fullname").text(name);
    realstat = status;
    if (realstat.length > 32) {
      realstat = status.substring(0, 32) + "...";
    }
    $("#status").html("<div title=\"" + status + "\">"+realstat+"</div>");
    $("#userprofpic").attr("username", name);
    updateProfilePics();
  }


  var friendid;
  function addFriend(text) {
    if(!friendid)friendid=0;
    $("#myfriends").append("\
      <div class=\"friend\" style=\"width:96%; height: 40px; margin-left: 5px; pointer-events: auto;\" onclick=\"setUser($('#friendno" + friendid + "').text());\">\
        <div username=\"" + text + "\" class=\"profpic\" style=\"pointer-events: none; margin-top: 3px; float: left; width: 32px; height: 32px; background-size: 32px 32px;\"></div>\
        <span id=\"friendno" + friendid + "\" style=\"margin-left: 10px;\">" + text + "</span>\
      </div>");
    friendid++;
  }

  var requestno;
  function addRequest(text) {
    if(!requestno)requestno=0;
    $("#requests").append("\
      <div class=\"request friend\" style=\"width:96%; height: 55px; margin-left: 10px;\" onclick=\"openRequestWindow($('#friendno" + requestno + "').text());\">\
        " + text + " wants to be your friend!<br/>\
        <div username=\"" + text + "\" class=\"profpic\" style=\"pointer-events: none; margin-top: 0px; float: left; width: 32px; height: 32px; background-size: 32px 32px;\"></div>\
        <span id=\"friendno" + requestno + "\" style=\"margin-left: 10px;\">" + text + "</span>\
      </div>");
    requestno++;
  }

  function clearRequests() {
    $("div.request").remove();
  }

  function clearFriends() {
    $("div.friend").remove();
  }

  function clearFriends() {
    $("div.friend").remove();
  }
</script>