<p>Downloading setup...</p>
<div class="progress" style="width: 375px; height: 40px;">
  <div id="perc" style=" line-height: 40px;" class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
</div>
</div>
<script>
  setPercentage(0);
  function setPercentage(perc) {
    $("#perc").css("width", perc + "%");
    $("#perc").text(perc+"%");
  }
</script>