body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 13px;
  cursor: default;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

a {
  cursor: default;
  pointer-events: auto;
}

a:link {
  color: #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #000000;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #00AAFF;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #000000;
  text-decoration: none;
}

.profpic {
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  background-size: 64px 64px;
} 

.profilepic {
  background: 
  linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(255, 0, 0, 0.45)
    );
  opacity:0.0;

  margin-left: 40px;
  background-color: #FFFFFF;
  background-size: 64px 64px;
}

.profilepic:hover {
  background: 
  linear-gradient(
    rgba(0, 255, 255, 0.85), 
    rgba(0, 255, 255, 0.65)
    );
  opacity: 1.0;
  color:#FF0000;
}

.selprofile {
  opacity: 0.0;
}

.selprofile:hover {
  background: 
  linear-gradient(
    rgba(0, 255, 255, 0.85), 
    rgba(0, 255, 255, 0.75)
    );
  opacity:0.5;
}

.friend:hover {
  background: 
  linear-gradient(
    rgba(0, 255, 255, 0.85), 
    rgba(0, 255, 255, 0.65)
    );
  opacity: 1.0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.noselect {
  /*cursor: default;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*pointer-events: none;*/
}

.bubbledTopLeft, .bubbledTopRight{
  margin-top: 3px;
  padding: 3px 5px 3px 5px;
  max-width: 75%;
  clear: both;
  font-size: 11px;
} 

.bubbledTopRight{
  float: right;
} 

.bubbledLeft,.bubbledRight{
  margin-top: 3px;
  padding: 3px 5px 3px 5px;
  max-width: 80%;
  clear: both;
  border: 1px solid grey;
} 

.bubbledLeft{
  float: left;
  margin-right: auto;

  border-width: 7px 5px 5px 11px; 
  border-image: url(speech_bubble_left.png) 7 5 5 11 stretch stretch ;
  -o-border-image: url(speech_bubble_left.png) 7 5 5 11 stretch stretch ;
  -moz-border-image: url(speech_bubble_left.png) 7 5 5 11 stretch stretch ;
  -webkit-border-image: url(speech_bubble_left.png) 7 5 5 11 stretch stretch ;

}

.bubbledRight{
  float: right;
  margin-left: auto;
  text-align: right;

  border-width: 7px 8px 5px 11px; 
  border-image: url(speech_bubble_Right.png) 7 9 7 12 stretch stretch ;
  -o-border-image: url(speech_bubble_Right.png) 7 9 7 12 stretch stretch ;
  -moz-border-image: url(speech_bubble_Right.png) 7 9 7 12 stretch stretch ;
  -webkit-border-image: url(speech_bubble_Right.png) 7 9 7 12 stretch stretch ;

}